.card {
 
  border: 2px solid #e7e7e7;
   
  border-radius: 4px;
   
  padding: .5rem;
  width: 448px;
  /* each box is of width 100px + 2px (border) + 10px right margin */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  }  